$bg-gray-light: #f7f7f7;
$gray-light-text: #959595;

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #009282 !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default; 