/* Mobile
================================================== */
@media only screen and (max-width: 767px) {
  h3 {
    padding-top: 30px; }

  /*********************
  HEADER
  *********************/
  #trigger {
    position: absolute;
    top: 600px; }

  /*********************
  MENU
  *********************/
  .body-overflow {
    overflow: hidden;
    position: relative;
    height: 100%;
    z-index: -5; }

  .navbar-mgs {
    padding: 6px 0; }

  .navbar > .container .navbar-brand {
    margin-left: 15px;
    width: 200px;
    -webkit-background-size: 80%;
    -moz-background-size: 80%;
    background-size: 80%;
    background-position: 15px 50%; }

  .navbar-mgs .navbar-toggle {
    top: 0px;
    border: 0;
    z-index: 9; }
    .navbar-mgs .navbar-toggle .icon-bar {
      background: white; }
    .navbar-mgs .navbar-toggle:hover, .navbar-mgs .navbar-toggle:focus {
      background: 0; }

  .navbar-mgs .collapsed .icon-bar {
    background: white; }
  .navbar-mgs .collapsed:hover, .navbar-mgs .collapsed:focus {
    background: 0; }

  .navbar-mgs .navbar-collapse, .navbar-mgs .navbar-form {
    background: #000;
    border-top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 5; }

  .navbar-mgs .navbar-nav > li > a {
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 2.8rem;
    font-weight: 300;
    color: #fff; }
    .navbar-mgs .navbar-nav > li > a:hover {
      color: #959595; }
    .navbar-mgs .navbar-nav > li > a.active-yellow {
      color: #E6B312 !important; }

  .navbar-mgs .navbar-nav > .open > a, .navbar-mgs .navbar-nav > .open > a:hover, .navbar-mgs .navbar-nav > .open > a:focus {
    color: #959595; }

  .navbar-mgs .navbar-nav .open .dropdown-menu > li > a {
    padding: 10px 0;
    padding-left: 30px;
    color: #959595;
    font-size: 1.55rem; }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: inherit; }

  .navbar-mgs.small-navbar .navbar-nav > li > a, .navbar-mgs.small-navbar .navbar-nav > li > a {
    color: #fff;
    padding: 18px 0;
    padding-left: 30px;
    font-size: 2.6rem; }
    .navbar-mgs.small-navbar .navbar-nav > li > a.active, .navbar-mgs.small-navbar .navbar-nav > li > a.active {
      color: rgba(255, 255, 255, 0.7); }

  .small-navbar .navbar-toggle {
    top: 0;
    border: 0;
    background: transparent; }
    .small-navbar .navbar-toggle .icon-bar {
      background: #fff; }
  .small-navbar .collapsed .icon-bar {
    background: #fff; }
  .small-navbar .navbar-collapse {
    background: #000;
    border-top: 1px solid #959595; }
  .small-navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    padding: 16px 0;
    padding-left: 30px;
    font-size: 1.8rem; }
    .small-navbar .navbar-nav .open .dropdown-menu > li > a:hover {
      color: #959595; }

  .navbar-nav {
    position: relative;
    top: 50px; }

  .modal-menu .modal-content {
    margin: 70px 0; }
    .modal-menu .modal-content a.figure-link figure figcaption h3 {
      margin-top: 0;
      padding-top: 0;
      font-size: 1.8rem; }
      .modal-menu .modal-content a.figure-link figure figcaption h3 small, .modal-menu .modal-content a.figure-link figure figcaption h3 span {
        display: inline-block;
        font-size: 1.8rem;
        font-weight: 300;
        line-height: 2.2rem;
        color: #777777; }
      .modal-menu .modal-content a.figure-link figure figcaption h3 small {
        padding-top: 18px; }
      .modal-menu .modal-content a.figure-link figure figcaption h3 .hide-text {
        display: none; }

  .sectors-menu .modal-menu .modal-content a.figure-link figure figcaption h3 span {
    padding-top: 18px; }

  .m-services {
    text-align: center; }
    .m-services .modal-dialog {
      margin: 10px 0; }
    .m-services figure {
      padding: 15px; }
    .m-services img {
      width: 50%;
      margin: auto; }
    .m-services h3 {
      font-size: 2.5rem; }

  .dropdown.open .dropdown-menu {
    margin-bottom: 0;
    margin-left: inherit;
    margin-right: -15px;
    padding-bottom: 0; }
    .dropdown.open .dropdown-menu .p-md {
      padding: 0; }
    .dropdown.open .dropdown-menu .p-t-md {
      padding-top: 0; }

  #navModalContact .modal-dialog {
    width: auto; }
  #navModalContact .modal-content {
    overflow-y: auto;
    height: auto; }
  #navModalContact .modal-footer {
    padding-bottom: 50px; }
  #navModalContact .contacto-info {
    width: 100%; }
  #navModalContact #map {
    display: none; }
  #navModalContact p {
    line-height: 2.4rem; }

  #navbar section {
    float: none; }

  #gmap .textwidget {
    padding-bottom: 0; }

  /*********************
  BANNER
  *********************/
  .fondo-movil {
    display: block;
    position: absolute;
    width: 100%;
    height: 530px;
    background: url(images/fondo-movil.jpg) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; }
    .fondo-movil img {
      max-width: 100%;
      width: 100%;
      position: relative;
      top: 17px; }

  .jumbotron-top.home-bg {
    top: 0;
    height: 530px !important;
    background: url(images/fondo-movil.jpg) center top no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover; }
    .jumbotron-top.home-bg h2 {
      line-height: 2.5rem; }
      .jumbotron-top.home-bg h2 small {
        font-size: 2.2rem; }

  .jumbotron .banner-home-info {
    top: 20%;
    padding: 5%;
    height: 530px; }

  .jumbotron.home-bg h1, .jumbo-about h1 {
    margin-bottom: 0;
    padding-top: 30px;
    font-size: 4rem; }
  .jumbotron.home-bg h2 small, .jumbo-about h2 small {
    font-size: 2.6rem; }

  .jumbo-about h1 {
    margin-top: 40px;
    font-size: 3.7rem; }
  .jumbo-about h2 small {
    font-size: 1.77rem; }

  .jumbo-sectors .container {
    top: 120px; }

  .fondo-desktop {
    display: none; }

  .creamos-soluciones .p-r-lg {
    padding-right: 0;
    padding-left: 0;
    margin-top: 30px;
    margin-bottom: 40px; }

  .jumbo-about {
    height: 530px !important; }
    .jumbo-about .container {
      padding: 5%;
      top: 20%; }

  /*********************
  FORMULARIO
  *********************/
  .talk-about-innovation {
    text-align: left; }
    .talk-about-innovation header h2 {
      font-size: 4.2rem; }
    .talk-about-innovation header .somos-text {
      margin-top: 4px;
      font-size: 2.2rem; }
    .talk-about-innovation br {
      display: none; }
    .talk-about-innovation .br-movil {
      display: block; }
    .talk-about-innovation .info-movil {
      display: inline-block;
      margin-top: 4px; }
    .talk-about-innovation .info-desktop {
      display: none; }

  .select2-container {
    width: 180px !important; }

  .nl-form {
    margin-top: 5rem;
    font-size: 2.8rem; }
    .nl-form input {
      margin-bottom: 0px; }
    .nl-form .nombre, .nl-form .mail {
      position: relative;
      top: -10px; }
    .nl-form .parche {
      display: inline-block;
      margin-top: 20px;
      line-height: 2.3rem; }
    .nl-form .empresa {
      position: relative;
      top: -6px; }

  .nl-field ul {
    left: -15rem;
    font-size: 90%; }

  /*********************
  REDES
  *********************/
  .feed-twitter .tweet {
    width: auto; }

  .newsletter .lead {
    margin-top: 20px; }

  /*********************
  EQUIPO
  *********************/
  .our-team {
    margin-bottom: 50px; }

  .figure-overlay figcaption.b-l p {
    font-size: 3.6rem;
    line-height: 4rem; }
  .figure-overlay figure {
    height: 204px;
    overflow-y: hidden; }
    .figure-overlay figure blockquote {
      font-size: 2rem;
      line-height: 2.4rem; }
  .figure-overlay figcaption {
    top: 20%;
    text-align: left; }
    .figure-overlay figcaption span {
      font-size: 2rem; }
    .figure-overlay figcaption p {
      font-size: 3.2rem;
      font-weight: 400; }
      .figure-overlay figcaption p br {
        display: block; }
    .figure-overlay figcaption.single {
      top: 26%; }
    .figure-overlay figcaption.p-sm {
      padding: 15px; }

  .equipo-bloque .figure-overlay figcaption .text-xl {
    font-size: 3.3rem; }
  .equipo-bloque .figure-overlay figcaption .medium {
    font-size: 2.4rem; }

  blockquote p.blockquote-text {
    width: auto;
    font-size: 2rem;
    line-height: 2.4rem; }

  blockquote small {
    font-size: 1.6rem; }

  .otros-servicios .figure-overlay figcaption {
    top: 26%; }
    .otros-servicios .figure-overlay figcaption .titulo {
      font-size: 2rem; }
    .otros-servicios .figure-overlay figcaption .descripcion {
      font-size: 3rem;
      line-height: 3.2rem; }
    .otros-servicios .figure-overlay figcaption figure blockquote {
      padding-top: 76px; }

  .otros-servicios .figure-overlay figure blockquote {
    padding-top: 76px; }

  .otros-productos .figure-overlay figure blockquote {
    padding-top: 76px; }

  .otros-sectores .figure-overlay figure blockquote {
    padding-top: 76px; }

  .methodology h4 {
    margin-top: 40px; }
    .methodology h4 br {
      display: none; }
  .methodology .lead {
    font-size: 1.8rem; }

  .serv-tit {
    margin: 40px 0;
    font-size: 3.7rem; }

  .enfoque-tit {
    margin-top: 40px; }

  .desc-c {
    margin-bottom: 40px; }
    .desc-c h3 {
      margin-left: -15px; }

  .redes-col {
    padding-left: 15px;
    padding-right: 15px; }

  #newsletter .boton, #newsletter-en .boton, #newsletter-new .boton {
    text-align: right; }

  /*********************
  FOOTER
  *********************/
  .footer {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 30px; }
    .footer h5 {
      margin-top: 30px;
      margin-bottom: 6px;
      font-size: 2.8rem; }
    .footer ul {
      margin-bottom: 20px; }
    .footer .copyright {
      text-align: center;
      display: none; }
    .footer .copy-movil {
      display: block;
      padding-left: 15px; }
      .footer .copy-movil p {
        font-size: 1.5rem;
        line-height: 2rem;
        color: #C4C4C4; }

  .foot-hide {
    display: none; }

  li.mgs-footer {
    font-size: 1.7rem;
    line-height: 2rem; }
    li.mgs-footer br {
      display: block; }

  .footer-logo {
    margin: auto;
    width: auto;
    float: none !important;
    padding-left: 15px; }
    .footer-logo img {
      margin-bottom: 0px;
      width: 130px; }

  .footer-menu {
    margin: auto;
    margin-top: 0px;
    float: none !important; }
    .footer-menu li a {
      display: block;
      padding: 5px 0;
      font-size: 1.6rem; }

  .explora li {
    font-size: 1.6rem; }

  .line25 {
    display: none; }

  .image-roller {
    margin-bottom: 40px; }

  /*********************
  IMAGENES DE FONDO
  *********************/
  .about-bg {
    background: url("images/acerca_img_mov-land_0.jpg") center center no-repeat; }

  .elearnign-bg {
    background: url("images/elearning_img_mov-land_0.jpg") center center no-repeat; }

  .productivity-bg {
    background: url("images/productivity_img_mov-land_0.jpg") center center no-repeat; }

  .consultancy_bg {
    background: url("images/consultancy_img_mov-land_0.jpg") center center no-repeat; }

  .porta-bg {
    background: url("images/porta_img_mov-land_0.jpg") center center no-repeat; }

  .vbt-bg {
    background: url("images/vbt_img_mov-land_0.jpg") center center no-repeat; }

  .colormaze-bg {
    background: url("images/colormaze_img_mov-land_0.jpg") center center no-repeat; }

  .corporate-bg {
    background: url("images/corporate_img_mov-land_0.jpg") center center no-repeat; }

  .government-bg {
    background: url("images/government_img_mov-land_0.jpg") center center no-repeat; }

  .startups-bg {
    background: url("images/startups_img_mov-land_0.jpg") center center no-repeat; }

  /*********************
  PARCHES
  *********************/
  .half-fix {
    width: auto;
    padding: 8% 0px;
    padding-bottom: 10%; }

  .refix {
    margin-left: 0; }

  .desc {
    padding-left: 0;
    padding-right: 0; }

  .intro-servicios .row.m-lg {
    margin: 30px 0; }
  .intro-servicios blockquote {
    margin-top: -14px; }

  .servicios h2 {
    margin-top: 25px;
    margin-bottom: 20px; }

  .medium {
    font-size: 1.8rem;
    line-height: 2.2rem; }

  .mgs-ux-l .ux-desc, .mgs-ux-r .ux-desc {
    margin-bottom: 40px; }

  .prensa-bg {
    background: url("images/prensa-bg-mov-land.jpg") center center no-repeat;
    background-size: cover; }

  #prensa .filtros {
    width: auto; }
  #prensa .col-sm-4 {
    min-height: inherit;
    margin-bottom: 50px; } }
/* Mobile Landscape a Tablet Portrait
================================================== */
/* Mobile Portrait a Mobile Landscape
================================================== */
@media only screen and (max-width: 479px) {
  h2 {
    font-size: 3.2rem; }

  h3 {
    font-size: 3.2rem; }

  h4 {
    font-size: 2rem; }

  p {
    line-height: 2rem; }

  .big {
    font-size: 1.8rem; }

  .mgs-ux-l .ux-desc, .mgs-ux-r .ux-desc, .gray-light-text {
    margin-top: 10px;
    font-size: 1.8rem;
    line-height: 2.2rem; }

  /*********************
  MENU
  *********************/
  .navbar-mgs .navbar-nav li a {
    padding-bottom: 18px;
    padding-top: 18px; }

  .modal-menu a.figure-link figcaption h3 {
    font-size: 1.4rem; }
    .modal-menu a.figure-link figcaption h3 small {
      font-size: 1.6rem;
      height: 1rem; }

  .modal-content .container {
    padding-top: 5px;
    padding-bottom: 5px; }
    .modal-content .container .col-xs-4 {
      float: none;
      width: 100%; }
    .modal-content .container figure img {
      display: none; }
    .modal-content .container figure h3 {
      padding: 8px 0;
      margin: 0px 0;
      line-height: .7rem; }
      .modal-content .container figure h3 span, .modal-content .container figure h3 small {
        margin: 0px 0;
        font-size: 1.6rem;
        color: #777777;
        display: inline-block; }
      .modal-content .container figure h3 span {
        padding-top: 10px; }

  .products-menu .modal-menu .modal-content a.figure-link figure figcaption h3 br {
    display: none; }

  .sectors-menu .modal-menu .modal-content a.figure-link figure figcaption h3 span {
    padding-top: 10px; }

  .dropdown.open .dropdown-menu {
    padding: 0; }

  .navbar-mgs {
    padding: 10px 0; }

  /*********************
  BANNER
  *********************/
  .jumbotron .banner-home-info {
    top: 12%; }

  .jumbotron-top {
    min-height: inherit; }

  .jumbotron .container {
    padding: 5%; }

  .jumbotron-top.home-bg h2 {
    line-height: 1.9rem; }

  .jumbotron.home-bg h1, .jumbo-about h1 {
    padding-top: 76px;
    font-size: 3rem; }
  .jumbotron.home-bg h2, .jumbo-about h2 {
    line-height: 2.3rem; }
    .jumbotron.home-bg h2 small, .jumbo-about h2 small {
      font-size: 1.7rem;
      font-weight: 300; }

  .jumbo-about h1 {
    font-size: 3.7rem;
    padding-top: 40px; }
  .jumbo-about h2 small {
    font-size: 1.77rem; }

  .jumbo-elearning h1 {
    padding-top: 60px; }

  .signboard h2 {
    margin-bottom: 20px; }
  .signboard .btn {
    margin-top: 15px; }

  .somos-meta {
    margin-top: -10px; }

  .figure-overlay figcaption.p-sm .text-xl {
    font-size: 2.1rem; }

  /*********************
  EQUIPO
  *********************/
  .our-team {
    margin-top: 40px;
    margin-bottom: 40px; }

  .figure-overlay figcaption.b-l p {
    font-size: 3.6rem;
    line-height: 4rem; }
  .figure-overlay figure {
    height: 130px;
    overflow-y: hidden; }
  .figure-overlay figcaption {
    padding: 8px;
    top: 10%;
    line-height: 1.4rem; }
    .figure-overlay figcaption span {
      font-size: 1.9rem; }
    .figure-overlay figcaption p {
      font-size: 2.2rem;
      line-height: 2.6rem; }
    .figure-overlay figcaption.single {
      top: 18%; }

  .equipo-bloque .figure-overlay figcaption .text-xl {
    font-size: 2.8rem; }
  .equipo-bloque .figure-overlay figcaption .medium {
    font-size: 1.9rem; }

  .otros-servicios .figure-overlay figcaption .titulo {
    font-size: 1.7rem;
    line-height: 2rem; }
  .otros-servicios .figure-overlay figcaption .descripcion {
    font-size: 2rem;
    line-height: 2.2rem; }

  .otros-productos .figure-overlay figcaption .titulo {
    font-size: 1.7rem;
    line-height: 2rem; }
  .otros-productos .figure-overlay figcaption .descripcion {
    font-size: 2rem;
    line-height: 2.2rem; }

  .otros-sectores .figure-overlay figcaption .titulo {
    font-size: 1.7rem;
    line-height: 2rem; }
  .otros-sectores .figure-overlay figcaption .descripcion {
    font-size: 2rem;
    line-height: 2.2rem; }

  .intro-text {
    font-size: 2.2rem;
    line-height: 2.6rem; }

  .figure-overlay figcaption.b-l p {
    font-size: 3rem; }

  .figure-overlay figure blockquote {
    font-size: 1.6rem;
    line-height: 2rem; }

  blockquote p.blockquote-text {
    font-size: 1.8rem;
    line-height: 2.2rem; }

  blockquote small {
    font-size: 1.5rem; }

  .cont-g p {
    font-size: 1.6rem; }

  .desc p {
    font-size: 1.8rem; }

  /*********************
  FORMULARIO
  *********************/
  .talk-about-innovation {
    padding-top: 70px;
    padding-bottom: 70px; }
    .talk-about-innovation header h2 {
      font-size: 2.8rem; }
    .talk-about-innovation header .somos-text {
      margin-top: 4px;
      font-size: 1.65rem; }

  .sobre {
    display: block; }

  .nl-form {
    font-size: 2.2rem; }

  .nl-ti-text ul li.nl-ti-example {
    font-size: 1.55rem; }

  .nl-ti-text ul li.nl-ti-input input {
    font-size: 2rem; }

  .nl-dd ul li {
    font-size: 1.8rem; }

  .nl-field ul {
    left: -4.5rem; }

  /*********************
  FOOTER
  *********************/
  .footer .copy-movil p {
    font-size: 1.36rem; }

  .consultancy_bg {
    background: url("/images/consultancy_img_0.jpg") 35% top no-repeat; }

  /*********************
  IMAGENES DE FONDO
  *********************/
  .about-bg {
    background: url("images/acerca_img_mov-port_0.jpg") center center no-repeat; }

  .elearnign-bg {
    background: url("images/elearning_img_mov-port_0.jpg") center center no-repeat; }

  .productivity-bg {
    background: url("images/productivity_img_mov-port_0.jpg") center center no-repeat; }

  .consultancy_bg {
    background: url("images/consultancy_img_mov-port_0.jpg") center center no-repeat; }

  .porta-bg {
    background: url("images/porta_img_mov-port_0.jpg") center center no-repeat; }

  .vbt-bg {
    background: url("images/vbt_img_mov-port_0.jpg") center center no-repeat; }

  .colormaze-bg {
    background: url("images/colormaze_img_mov-port_0.jpg") center center no-repeat; }

  .corporate-bg {
    background: url("images/corporate_img_mov-port_0.jpg") center center no-repeat; }

  .government-bg {
    background: url("images/government_img_mov-port_0.jpg") center center no-repeat; }

  .startups-bg {
    background: url("images/startups_img_mov-port_0.jpg") center center no-repeat; }

  .prensa-bg {
    background: url("images/prensa-bg-mov-port.jpg") center center no-repeat; }

  .otros-servicios .figure-overlay figure blockquote {
    padding-top: 38px; }

  .otros-productos .figure-overlay figure blockquote {
    padding-top: 38px; }

  .otros-sectores .figure-overlay figure blockquote {
    padding-top: 38px; }

  #prensa .filtros a:link, #prensa .filtros span {
    display: block;
    padding: 8px 0; } }
@media only screen and (min-width: 375px) and (max-width: 479px) {
  .jumbotron.home-bg h1 {
    font-size: 3.8rem; } }
/* Mobile Retina Display
================================================== */

/*# sourceMappingURL=mobile.css.map */
